html{
  height:100%;
}
body{
  height: 100%;
  margin: 0;
}

.showit{
  display: block;
}

.hideit{
  display: none;
}

.header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  color:white;
}

.div1 {
  height: 100%;
}

.background {
  height: 100%;
  background-image: linear-gradient(to bottom, pink, white);
}

.homeimg {
  height:100%;
  background-image: IMG_0572.jpg;
  
.thegrid{
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
  grid-gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 20px;
}

.blank1{
  background-color: #FF69B4;
}
.blank2{
  background-color: #FF69B4;
}
.blank3{
  background-color: #FF69B4;
}
.blank4{
  background-color: #FF69B4;
}
.blank5{
  background-color: #FF69B4;
}
.blank6{
  background-color: #FF69B4;
}
.blank7{
  background-color: #FF69B4;
}
.blank8{
  background-color: #FF69B4;
}
.blank9{
  background-color: #FF69B4;
}
.blank10{
  background-color: #FF69B4;
}
.blank11{
  background-color: #FF69B4;
}
.blank12{
  background-color: #FF69B4;
}
.blank13{
  background-color: #FF69B4;
}
.blank14{
  background-color: #FF69B4;
}
.blank15{
  background-color: #FF69B4;
}
.blank16{
  background-color: #FF69B4;
}

.blank1:hover{
  background-color: #D90166;
}
.blank2:hover{
  background-color: #D90166;
}
.blank3:hover{
  background-color: #D90166;
}
.blank4:hover{
  background-color: #D90166;
}
.blank5:hover{
  background-color: #D90166;
}
.blank6:hover{
  background-color: #D90166;
}
.blank7:hover{
  background-color: #D90166;
}
.blank8:hover{
  background-color: #D90166;
}
.blank9:hover{
  background-color: #D90166;
}
.blank10:hover{
  background-color: #D90166;
}
.blank11:hover{
  background-color: #D90166;
}
.blank12:hover{
  background-color: #D90166;
}
.blank13:hover{
  background-color: #D90166;
}
.blank14:hover{
  background-color: #D90166;
}
.blank15:hover{
  background-color: #D90166;
}
.blank16:hover{
  background-color: #D90166;
}

.flexy{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.flex1-a{
  margin: 2%;
  flex: 1;
  border: solid pink;
  background: pink;
}
.flex1-b{
  margin: 2%;
  flex: 1;
  border: solid pink;
  background: pink;
}
.flex1-c{
  margin: 2%;
  flex: 1;
  border: solid pink;
  background: pink;
}
.flex1-d{
  margin: 2%;
  flex: 1;
  border: solid pink;
  background: pink;
}
.flex1-e{
  margin: 2%;
  flex: 1;
  border: solid pink;
  background: pink;
}



.parade1 {
  position: absolute;

  left: -30px;
  height: 30px;
  width: 30px;
  background: #C11C84;
  animation: move 5s linear infinite, jump 1s linear infinite;
}

@keyframes move {
  0%{
    top: 50%;
    left: 0%;
   }
  20%{
    top: 50%;
    left: 20%;
  }
  25%{
    top: 150px;
    left: 25%;
    background: pink;
  }
  30%{
    top: 50%;
    left: 30%;
  }
  45%{
    top: 50%;
    left: 45%;
  }
  50%{
    top: 100px;
    left: 50%;
    background: #FF69B4;
  }
  58%{
    top: 50%;
    left: 58%;
  }
  75%{
    top: 50%;
    left: 75%;
  }
  80%{
    top: 150px;
    left: 80%;
    background: #C11C84;
  }
  87%{
    top: 50%;
    left: 87%;
  }
  100%{
    top: 50%;
    left: 100%;
  }
  
 .reveal{
   height: 100px;
   width: 200px;
   border: 1px solid black;
   background: pink;
 }
 
 .words{
   margin: auto;
   text-align: center;
   padding: 10px;
 }
 
img {
  height: 100%;
  width: 100%;
  margin: auto;
}
.pic{
  height: 150px;
  width: 150px;
  padding: 20px;
}
