html{
  height:100%;
}
body{
  height: 100%;
  margin: 0;
}

.showit{
  display: block;
}

.hideit{
  display: none;
}

.header{
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  background-color: pink;
  font-family: "oi";
  color: #FC6C85;
}

.font1{
  font-family:"oi";
  color: pink;
  font-size: 40px;
  margin: auto;
}
.font2{
  font-family:"oi";
  color: #FF007F;
  font-size: 20px;
  margin: auto;
}
.butt1{
  color: white;
  background-color: #FF007F;
}
.butt2{
  color: white;
  background-color: #FF007F;
}
.butt3{
  color: white;
  background-color: #FF007F;
}
.butt4{
  color: white;
  background-color: #FF007F;
}
.butt5{
  color: white;
  background-color: #FF007F;
}
.butt6{
  color: white;
  background-color: #FF007F;
}
.butt1:hover {
  color: #FF007F;
  background-color: white;
  cursor: pointer;
}
.butt2:hover {
  color: #FF007F;
  background-color: white;
  cursor: pointer;
}
.butt3:hover {
  color: #FF007F;
  background-color: white;
  cursor: pointer;
}
.butt4:hover {
  color: #FF007F;
  background-color: white;
  cursor: pointer;
}
.butt5:hover {
  color: #FF007F;
  background-color: white;
  cursor: pointer;
}
.butt6:hover {
  color: #FF007F;
  background-color: white;
  cursor: pointer;
}
.div1 {
  height: 100%;
}

.background {
  height: 100%;
  background-image: linear-gradient(to bottom, pink, white);
}

.homeimg {
  height:100%;
  background-image: src="IMG_0572.jpg";
  }

.thegrid{
  display: grid;
  position: absolute;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
  grid-gap: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  padding-top: 20px;
}

.blank1{
  background-color: #FF69B4;
}
.blank2{
  background-color: #FC6C85;
}
.blank3{
  background-color: #F88379;
}
.blank4{
  background-color: #FF9999;
}
.blank5{
  background-color: #FC8EAC;
}
.blank6{
  background-color: #FFD1DC;
}
.blank7{
  background-color: #FFC1CC;
}
.blank8{
  background-color: #E75480;
}
.blank9{
  background-color: #FF007F;
}
.blank10{
  background-color: #A94064;
}
.blank11{
  background-color: #FF6E76;
}
.blank12{
  background-color: #FF6EC7;
}
.blank13{
  background-color: #DE5D83
}
.blank14{
  background-color: #FF00FF;
}
.blank15{
  background-color: #FF0090;
}
.blank16{
  background-color: #FDA2C6;
}

.blank1:hover{
  background-color: #D90166;
}
.blank2:hover{
  background-color: #E0218A;
}
.blank3:hover{
  background-color: #FBA0E3;
}
.blank4:hover{
  background-color: #E7ACCF;
}
.blank5:hover{
  background-color: #FFCFF1;
}
.blank6:hover{
  background-color: #FFB3DE;
}
.blank7:hover{
  background-color: #C54B8C;
}
.blank8:hover{
  background-color: #D470A2;
}
.blank9:hover{
  background-color: #FDDDE6;
}
.blank10:hover{
  background-color: #ED0091;
}
.blank11:hover{
  background-color: #AD005B;
}
.blank12:hover{
  background-color: #FFA0CC;
}
.blank13:hover{
  background-color: #ED7A9E;
}
.blank14:hover{
  background-color: #ED72AA;
}
.blank15:hover{
  background-color: #CC0256;
}
.blank16:hover{
  background-color: #8C004C;
}

.flexy{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.flex1-a{
  margin: 2%;
  flex: 1;
  border: solid pink;
  background: pink;
}
.flex1-b{
  margin: 2%;
  flex: 1;
  border: solid pink;
  background: pink;
}
.flex1-c{
  margin: 2%;
  flex: 1;
  border: solid pink;
  background: pink;
}
.flex1-d{
  margin: 2%;
  flex: 1;
  border: solid pink;
  background: pink;
}
.flex1-e{
  margin: 2%;
  flex: 1;
  border: solid pink;
  background: pink;
}



.parade1 {
  position: absolute;

  left: -30px;
  height: 30px;
  width: 30px;
  background: #C11C84;
  animation: move 5s linear infinite, jump 1s linear infinite;
}

@keyframes move {
  0%{
    top: 50%;
    left: 0%;
   }
  20%{
    top: 50%;
    left: 20%;
  }
  25%{
    top: 150px;
    left: 25%;
    background: pink;
  }
  30%{
    top: 50%;
    left: 30%;
  }
  45%{
    top: 50%;
    left: 45%;
  }
  50%{
    top: 100px;
    left: 50%;
    background: #FF69B4;
  }
  58%{
    top: 50%;
    left: 58%;
  }
  75%{
    top: 50%;
    left: 75%;
  }
  80%{
    top: 150px;
    left: 80%;
    background: #C11C84;
  }
  87%{
    top: 50%;
    left: 87%;
  }
  100%{
    top: 50%;
    left: 100%;
  }
 }
 .reveal{
   height: 350px;
   width: 300px;
   border: 1px solid black;
   background: pink;
   text-align: center;
   margin: auto;
   padding: 20px;
   
 }
 .reveal:hover {
   cursor: pointer;
 }
 
 .words{
   text-align: center;
 }
.words2{
  text-align: center;
  position: relative;
  top: 200px;
}
 
.middle{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 
img {
  height: 100%;
  width: 100%;
  margin: auto;
}
.pic{
  height: 250px;
  width: 250px;
  padding: 20px;
}
.pic2{
  height: 150px;
  width: 150px;
  padding: 20px;
}

.format1{
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.format1-a{
  padding: 12%;
  flex: 1;
  }
 .header2{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  font-family: "oi";
  color: #FC6C85;
}

.format2{
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: black;
}
.format2-a{
  padding: 12px;
  flex: 1;
  background: pink;
  border: blue;
}
.format2-b{
  padding: 12px;
  flex: 1;
  background: pink;
  border: blue;
}
.format2-c{
  padding: 12px;
  flex: 1;
  background: pink;
  border: blue;
  }
